<app-panel>
  <!-- origin / destination -->
  <div class="row">
    <div class="col-md-6">
      <app-form-group>
        <app-select
          [label]="'Origin'"
          [options]="originOptions"
          [labelField]="'name'"
          [errors]="travelErrors.origin"
          [(model)]="travel.origin"
          (modelChange)="onOriginChange()">
        </app-select>
      </app-form-group>
    </div>

    <div class="col-md-6">
      <app-form-group>
        <app-select
          [label]="'Destination'"
          [options]="destinationOptions"
          [labelField]="'name'"
          [errors]="travelErrors.destination"
          [(model)]="travel.destination"
          (modelChange)="onDestinationChange()">
        </app-select>
      </app-form-group>
    </div>
  </div>

  <!-- departure / return -->
  <div class="row">
    <div class="col-md-6">
      <app-form-group>
        <app-date-picker
          [label]="'Departure'"
          [disableUntil]="departureAtDisableUntil"
          [errors]="travelErrors.departureAt"
          [(model)]="travel.departureAt"
          (modelChange)="onDepartureAtChange()">
        </app-date-picker>
      </app-form-group>
    </div>

    <div class="col-md-6">
      <app-form-group>
        <app-date-picker
          [label]="'Return'"
          [disableUntil]="returnAtConstraints.disableUntil"
          [defaultMonth]="returnAtConstraints.defaultMonth"
          [errors]="travelErrors.returnAt"
          [(model)]="travel.returnAt"
          (modelChange)="onReturnAtChange()">
        </app-date-picker>
      </app-form-group>
    </div>
  </div>

  <!-- footer -->
  <app-btn
    [label]="'Search'"
    [isFullWidth]="true"
    (click)="onSubmit()">
  </app-btn>
</app-panel>
