@import 'helpers/all';

.label {
    display: block;
    margin-bottom: rem(10);
    color: color('gray');
    font-size: rem(12);
    font-weight: font-weight('bold');
    text-transform: uppercase;
}
