@import 'helpers/all';

.ng-select {
    &.ng-select-single {
        display: block;
        border: 1px solid color('gray');
        border-radius: rem(3);
        background: color('white');

        .ng-select {
            &-container {
                padding: rem(15) rem(10);

                .ng-input {
                    padding: 0 rem(10);
                }
            }
        }

        .ng-dropdown-panel {
            border: 1px solid color('gray');
            background: color('white');

            &-items {
                max-height: 40vh;
            }

            .ng-option {
                margin: 0 rem(15);
                padding: rem(10) 0;
                font-size: rem(15);
                font-weight: font-weight('bold');

                &.ng-option-selected,
                &.ng-option-marked {
                    color: color('primary');
                }

                + .ng-option {
                    border-top: 1px solid color('mercury');
                }
            }
        }

        &.ng-select-opened {
            box-shadow: inset 0 0 0 1px color('gray');
        }

        .select--has-error & {
            border-color: color('primary');
            box-shadow: inset 0 0 0 1px color('primary');
        }
    }
}

.select {
    &__errors {
        margin-top: rem(7);
    }
}
