<div class="select" [ngClass]="{'select--has-error': errors}">
  <app-label>
    {{label}}
  </app-label>

  <ng-select
    [items]="options"
    [bindLabel]="labelField"
    [bindValue]="valueField"
    [dropdownPosition]="'bottom'"
    [clearable]="false"
    [(ngModel)]="model"
    (ngModelChange)="onModelChange()">
  </ng-select>

  <div *ngIf="errors" class="select__errors">
    <app-errors [errors]="errors"></app-errors>
  </div>
</div>
