* {
    box-sizing: border-box;
    font-family: $font-1;

    &:focus {
        outline: 0;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
label,
input,
body {
    margin: 0;
    padding: 0;
}

html,
body,
input {
    font-size: 14px;
    line-height: 1.5;

    @include respond-to('lg') {
        font-size: 16px;
    }
}
