<div class="flight-search-results">
  <!-- departure -->
  <div class="flight-search-results__group">
    <h2 class="flight-search-results__title">
      {{travel.origin.name}} ({{travel.origin.iata}}) -
      {{travel.destination.name}} ({{travel.destination.iata}})
    </h2>

    <div class="flight-search-results__date">
      {{travel.departureAt|date:'EEE, d MMMM y'}}
    </div>

    <div class="flight-search-results__items">
      <div *ngFor="let flight of departureFlights" class="flight-search-results__item">
        <app-flight-select
          [flight]="flight"
          [(model)]="travel.departureFlight">
        </app-flight-select>
      </div>
    </div>
  </div>

  <!-- return -->
  <div class="flight-search-results__group">
    <h2 class="flight-search-results__title">
      {{travel.destination.name}} ({{travel.destination.iata}}) -
      {{travel.origin.name}} ({{travel.origin.iata}})
    </h2>

    <!-- if doesnt have a return date -->
    <ng-container *ngIf="!travel.returnAt || !arrivalFlights">
        <div class="flight-search-results__return-select">
          <app-date-picker
            [(model)]="returnAt"
            [disableUntil]="returnAtConstraints.disableUntil"
            [defaultMonth]="returnAtConstraints.defaultMonth"
            [errors]="travelErrors.returnAt">
          </app-date-picker>

          <app-btn
            [label]="'Show return flights'"
            (click)="onReturnAtChange()">
          </app-btn>
        </div>
      </ng-container>


      <!-- if has a return date -->
    <ng-container *ngIf="travel.returnAt && arrivalFlights">
      <div class="flight-search-results__date">
        {{travel.returnAt|date:'EEE, d MMMM y'}}
      </div>

      <div class="flight-search-results__items">
        <div *ngFor="let flight of arrivalFlights" class="flight-search-results__item">
          <app-flight-select
            [flight]="flight"
            [(model)]="travel.returnFlight">
          </app-flight-select>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- footer -->
  <div class="flight-search-results__footer">
    <app-btn [label]="'Continue'" (click)="onContinue()"></app-btn>

    <div class="flight-search-results__errors">
      <app-errors [errors]="travelErrors.departureFlight"></app-errors>
      <app-errors [errors]="travelErrors.returnFlight"></app-errors>
    </div>
  </div>
</div>
