@import 'helpers/all';

.flight-search-results {
    &__group {
        & + & {
            margin-top: rem(50);
        }
    }

    &__items {
        margin-top: rem(15);
    }

    &__item {
        border-bottom-left-radius: rem(3);
        background: color('white');
        box-shadow: 0 15px 25px #ddd;

        & + & {
            margin-top: rem(30);
        }
    }

    &__title {
        color: color('secondary');
        font-size: rem(18);
    }

    &__date {
        color: color('gray');
    }

    &__return-select {
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
            max-width: rem(320);
        }

        > * + * {
            margin-left: rem(30);
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        margin-top: rem(50);

        > * + * {
            margin-left: rem(30);
        }
    }
}
