<div class="app">
  <header class="app__header">
    <app-header></app-header>
  </header>

  <div class="app__content">
    <router-outlet></router-outlet>
  </div>
</div>

<app-loader></app-loader>
