@import 'helpers/all';

.flight-select {
    display: flex;
    align-items: center;

    &__date {
        flex: 0 0 percentage(4 / 12);
        padding: rem(20);
        font-weight: font-weight('bold');
    }

    &__tickets {
        display: flex;
        flex: 0 0 percentage(8 / 12);
    }

    &__ticket {
        position: relative;
        text-align: center;

        flex-basis: 0;
        flex-grow: 1;

        &-bundle {
            padding: rem(20);
            font-weight: font-weight('bold');
            text-transform: uppercase;
        }

        &-price {
            padding: rem(20);
        }

        &-btn {
            display: inline-block;
            width: 80%;
            padding: rem(20) rem(10);
            border: color('gray') solid 2px;
            border-radius: 2px;
            color: color('secondary');
            font-size: rem(18);
            font-weight: font-weight('bold');
            cursor: pointer;
        }

        &-message {
            color: color('gray');
            font-size: rem(12);
        }

        &--standard,
        &--plus {
            &::after {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 5px;
                content: '';
            }
        }

        &--basic {
            .flight-select__ticket {
                &-bundle {
                    position: relative;
                    color: color('secondary');

                    &::after {
                        position: absolute;
                        right: 30%;
                        bottom: 0;
                        left: 30%;
                        height: 1px;
                        background: color('secondary');
                        content: '';
                    }
                }
            }
        }

        &--standard {
            &::after {
                background: color('secondary');
            }

            .flight-select__ticket {
                &-bundle {
                    background: color('secondary');
                    color: color('white');
                }
            }
        }

        &--plus {
            &::after {
                background: color('primary');
            }

            .flight-select__ticket {
                &-bundle {
                    background: color('primary');
                    color: color('white');
                }
            }
        }

        &--selected {
            .flight-select__ticket-btn {
                border-color: color('primary');
                background: color('primary');
                color: color('white');
            }
        }
    }
}
