<div class="flight-select">
  <div class="flight-select__date">
    {{flight.departure|date:'hh:mm'}} - {{flight.arrival|date:'hh:mm'}}
  </div>

  <div class="flight-select__tickets">
    <div
      *ngFor="let ticket of flight.tickets"
      class="flight-select__ticket flight-select__ticket--{{ticket.bundle}}"
      [ngClass]="{'flight-select__ticket--selected': model && model.ticket && model.ticket.id === ticket.id}">
      <div class="flight-select__ticket-bundle">
        {{ticket.bundle}}
      </div>

      <div class="flight-select__ticket-price">
        <div
          *ngIf="flight.ticketsCount"
          class="flight-select__ticket-btn"
          (click)="onSelectFlight(flight, ticket)">
          {{ticket.price|currency}}
        </div>

        <div *ngIf="!flight.ticketsCount" class="flight-select__ticket-message">
          There are no seats at this price
        </div>
      </div>
    </div>
  </div>
</div>
