<div class="home">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="isFlightSearchPanelVisible" class="col-md-6 col-lg-4">
        <app-flight-search-panel
          *ngIf="isFlightSearchPanelVisible"
          [(travel)]="travel"
          (search)="onSearch()">
        </app-flight-search-panel>
      </div>

      <div class="col-md-6 col-lg-8">
        <app-flight-search-results
          *ngIf="isFlightSearchResultsVisible"
          [(travel)]="travel"
          (continue)="onFlightsSelected($event)">
        </app-flight-search-results>

        <ng-container *ngIf="isTravelOverviewVisible">
          Select seats or something
        </ng-container>
      </div>

      <div *ngIf="isTravelOverviewVisible" class="col-md-6 col-lg-4">
        <app-travel-overview
          [travel]="travel">
        </app-travel-overview>
      </div>
    </div>
  </div>
</div>
