@import 'helpers/all';

.date-picker .mydp {
    padding: rem(9);
    border: 1px solid color('gray');
    border-radius: rem(3);
    background: color('white');

    .selectorarrow {
        padding: rem(10);
        border-color: color('concrete');
        background: color('white');

        &::after,
        &::before {
            display: none;
        }
    }

    .selector:focus {
        border-color: color('concrete');
    }

    .header,
    .headerlabelbtn,
    .headerbtncell,
    .headerbtn,
    .btnpicker:hover {
        background: none;
    }

    .weekdaytitle {
        padding: rem(5) 0 rem(10);
        background: none;
        color: color('gray');
        font-size: rem(12);
        font-weight: font-weight('bold');
    }

    .daycell {
        padding: rem(1);

        &:hover {
            background: none;
        }

        &:focus {
            outline: 0;
        }

        .datevalue {
            height: rem(30);
            border: 1px solid color('mercury');
            border-radius: rem(3);
            background: color('white');
            color: color('mine-shaft');
            font-size: rem(12);
            line-height: rem(28);
        }

        &.disabled {
            .datevalue {
                background: color('concrete');
            }
        }

        &.selectedday {
            .datevalue {
                background: color('primary');
                color: color('white');
                font-weight: font-weight('bold');
            }
        }
    }

    .disabled,
    .currmonth {
        background: none;
    }
}
