<div class="date-picker">
  <app-label>
    {{label}}
  </app-label>

  <my-date-picker
    name="mydate"
    [options]="myDatePickerOptions"
    [defaultMonth]="defaultMonth"
    [(ngModel)]="ngModel"
    (ngModelChange)="onModelChange()">
  </my-date-picker>

  <div *ngIf="errors" class="select__errors">
    <app-errors [errors]="errors"></app-errors>
  </div>
</div>
