@import 'helpers/all';

.travel-overview {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    min-width: rem(350);
    background: color('white');

    &__flight {
        padding: rem(10);

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: color('secondary');
            font-weight: font-weight('bold');
        }

        &-ticket {
            margin-top: rem(5);
            color: color('mine-shaft');
            font-size: rem(14);
            font-weight: font-weight('bold');
        }

        &-time {
            color: color('gray');
            font-size: rem(14);
        }
    }

    &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: auto;
        padding: rem(10);
        background: color('secondary');
        color: color('white');
        font-weight: bold;

        &-label {
            text-transform: uppercase;
        }
    }
}
