<div class="travel-overview">
  <div class="travel-overview__flights">
    <div class="travel-overview__flight">
      <div class="travel-overview__flight-header">
        <span class="travel-overview__flight-title">
          {{travel.origin.name}} - {{travel.destination.name}}
        </span>

        <span>
          {{travel.departureFlight.ticket.price|currency}}
        </span>
      </div>

      <div class="travel-overview__flight-ticket">
        {{travel.departureFlight.ticket.bundle}} fare
      </div>

      <div class="travel-overview__flight-time">
        {{travel.departureFlight.departure|date:'MMM dd'}}<br>
        {{travel.departureFlight.departure|date:'hh:mm'}} - {{travel.departureFlight.arrival|date:'hh:mm'}} ({{travel.departureFlight.ticket.id}})
      </div>
    </div>

    <div *ngIf="travel.returnFlight" class="travel-overview__flight">
      <div class="travel-overview__flight-header">
        <span class="travel-overview__flight-title">
          {{travel.destination.name}} - {{travel.origin.name}}
        </span>

        <span>
          {{travel.returnFlight.ticket.price|currency}}
        </span>
      </div>

      <div class="travel-overview__flight-ticket">
        {{travel.returnFlight.ticket.bundle}} fare
      </div>

      <div class="travel-overview__flight-time">
        {{travel.returnFlight.departure|date:'MMM dd'}}<br>
        {{travel.returnFlight.departure|date:'hh:mm'}} - {{travel.returnFlight.arrival|date:'hh:mm'}} ({{travel.returnFlight.ticket.id}})
      </div>
    </div>
  </div>

  <div class="travel-overview__total">
    <div class="travel-overview__total-label">
      Total
    </div>
    <div class="travel-overview__total-price">
      {{(travel.getPrice())|currency}}
    </div>
  </div>
</div>
