@import 'helpers/all';

app-btn {
    display: block;
}

.btn {
    padding: rem(15) rem(20);
    border: 0;
    border-radius: rem(3);
    background: color('primary');
    color: color('white');
    font-size: rem(14);
    line-height: rem(14);
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background: color('primary-hover');
    }

    &--full-width {
        width: 100%;
    }
}
